/* base (common elements) stylesheet */

html {
  font-family: "Lucida Grande", Helvetica, sans-serif;
}
header {
  background-color: rgb(196, 196, 196);
  border: 1.5px solid rgb(131, 131, 131);
  margin-top: -10;
  max-width: 100%;
  padding: 0;
  height: 85px;
}
.logo {
  height:50px;
  width: 180px;
  margin-top: 20px;
  margin-left: 12px;
  line-height: normal;
}
.signup {
  background-color: rgb(51, 60, 181);
  height: 42px;
  width: 105px;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  border: 1.5px solid rgb(37, 47, 149);
  border-radius: 4px;
  box-shadow: none;
  font-family: "Lucida Grande", Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 15px;
}
.signup a {
  text-decoration: none;
}
a:visited {
  color: white;
}
body {
  background: url("../images/ACMEbackground.png");
  margin: 0;
}
nav {
  margin: 8px 18px;
  float: right;
}
button {
  text-align: center;
}
a {
  color: white;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 11px;
  text-decoration: none;
}
nav li {
  display: inline-block;
  list-style-type: none;
}
main {
  background-color: white;
  border: .5px solid rgb(191, 191, 191);
  border-radius: 10px;
  margin: 30px 50px 0px 50px;
  padding: 5px 35px 15px 35px;
  box-shadow: 0 0 4px rgb(170, 170, 170);
}
h1 {
  font-size: 22px;
}
p {
  font-size: 14px;
}
hr {
  border-top: .25px solid rgb(195, 195, 195);
  border-bottom: .1px solid rgb(255, 255, 255);
  margin: 30px 50px 10px 50px;
}
footer {
  color: gray;
  text-align: center;
  margin-top: 20px;
}
h6 {
  color: rgb(163, 167, 171);
  font-weight: 300;
}

@media (max-width: 470px) {
  nav {
    float: none;
  }
  ul {
    padding-left: 0px;
  }
  header {
    height: auto;
    text-align: center;
  }
  .logo {
    margin-left: 0px;
  }
}
