/* base (common elements) stylesheet */

html {
  font-family: "Lucida Grande", Helvetica, sans-serif;
}
header {
  background-color: rgb(196, 196, 196);
  border: 1.5px solid rgb(131, 131, 131);
  margin-top: -10;
  max-width: 100%;
  padding: 0;
  height: 85px;
}
.logo {
  height:50px;
  width: 180px;
  margin-top: 20px;
  margin-left: 12px;
  line-height: normal;
}
/* (DELETE AFTER ADDING TO OTHER CSS SHEETS) a {
  padding-top: 100px;
  margin-right: 25px;
  color: white;
  text-shadow: 1px 1px 0px rgb(125, 125, 125);
} */
.signup {
  background-color: rgb(51, 60, 181);
  height: 42px;
  width: 105px;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  border: 1.5px solid rgb(37, 47, 149);
  border-radius: 4px;
  box-shadow: none;
  font-family: "Lucida Grande", Helvetica, sans-serif;
  font-size: 16px;
  float: right;
}
body {
  background: url("../images/ACMEbackground.png");
  margin: 0;
}
.navigation {
  float: right;
  margin: 14 7;
}
#nav {
  margin: 7 12;
  list-style-type: none;
  float: right;
}
#nav ul {
  line-height: 120%;
}
#nav li {
  float: left;
  display: inline;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 11px;
  margin-right: 20px;
}
main {
  background-color: white;
  border: .5px solid rgb(191, 191, 191);
  border-radius: 10px;
  margin: 30 50 0 50;
  padding: 5 35 15 35;
  box-shadow: 0 0 4px rgb(170, 170, 170);
}
h1 {
  font-size: 22px;
}
p {
  font-size: 14px;
}
hr {
  border-top: .25px solid rgb(195, 195, 195);
  border-bottom: .1px solid rgb(255, 255, 255);
  margin: 30 50 10 50;
}
footer {
  color: gray;
  text-align: center;
  margin-top: 20px;
}
h6 {
  color: rgb(163, 167, 171);
  font-weight: 300;
}

@media screen and (max-width:700px) {
  li {
    color: blue;
      }
  }
